.contentBlock{
    width: 100%;
    height: 90vh;
    color: #fff;
}
.contentBlockFlexContainer{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contentBlockFlexContainer:first-child{
    margin-bottom: 10%;
}