.navbar{
  width: 100%;
  height: 5%;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-self: auto;
  background-color: #1E1E1E;
  color: #fff;
}

.navSectionLeft{
  display: flex;
  align-self: center;
  justify-content: center;
  align-content: space-around;
  flex-direction: row;
  color: #fff;
}

.navSectionRight {
  display: flex;
  align-self: center;
  align-content: space-around;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  color: #fff;
}

.header {

}

.borderMenu {
  position: relative;
  padding-left: 1.25em;
}
.borderMenu:before {
  content: "";
  position: absolute;
  top: 0.375em;
  left: 0;
  width: 1.5em;
  height: 0.1875em;
  border-top: 0.5625em double #FFF;
  border-bottom: 0.1875em solid #FFF;
}
